/* ----------------Box Sizing--------------- */

html{
    box-sizing: border-box;
}
    *,
    *:before,
    *::after {
     box-sizing: inherit;
}

/* ----------------Utility Classes--------------- */
.container{
    width: 70vw;
    margin: 40px auto;
    max-width: 960px;
}

/* ----------------Responsive Images--------------- */

img{
    max-width: 100%;
}

/* ---------------Global Styles--------------- */

body{
    background-color: rgb(212, 175, 55);
    font-family: 'Cormorant Garamond', serif;
    margin:0;
}


header.primary{
    background-color: #8b4513;
    text-align: center;
    color: #ffffff;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}

header.primary h1{
    font-size: 2.5rem;
    margin: 20px 0 10px;
}

header.primary h1 a{
    color: #ffffff;
    text-decoration: none;
}

header.primary h2{
    font-size: 1.4rem;
    /* Top | Left/Right | Bottom */
    margin: 10px auto 30px;
}

header.primary nav{
    max-width: 960px;
}

header.primary ul{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header.primary li {
    background-color: rgb(212, 175, 55);
    list-style-type: none;
}

header.primary nav a{
    color: #ffffff;
    text-decoration: none;
    background: #8b4513;
    background: rgb(139, 69, 19, .4);
    padding: 4px 10px;
    border-radius: 10px;
    transition: .5s;
    /* width | stroke type | color */
    border: 1px solid #8b4513;
}

header.primary nav a:hover, header.primary nav a:active {
    background: rgba(139, 69, 19, .8);
}

#intro {
    border: 1px dotted #8b4513;
    padding: .9rem;
}

#intro h2 {
    color: #8b4513;
    border: 2px solid #8b4513;

}

#content{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border: 1px dotted #8b4513;
    padding: 2.9rem;
}

#content article.post {
    width: 30%;
    box-shadow: 0 4px 8px rgba(f, f, f, .8);
    padding: 10px;
    border-radius: 10px;
    font-size: .8rem;
}

article.post figure{
    margin: 0;
}

time.post-date, figcaption, .post-meta {
    text-transform: uppercase;
}

figure img{
    border: 1px;
    padding: 2px;
    border-radius: 10px;
    margin: 3px auto;
    background: #8b4513;
}

article.post a{
    color: #8b4513;
}

article.post a:hover{
    text-decoration: none;
    transition: .5s;
}
/* Attribute Selector Example */
aside[role="complementary"]{
    background-color: #8b4513;
    color: #ffffff;
    padding: 40px;
}
aside .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

aside article.widget{
    width: 43%;
}

article.widget a:last-of-type{
    color: #ffffff;
    display: block;
    text-align: right;
    margin-top: .8rem;
}

article.widget footer{
    display: none;
}

#colophon{
    background-color: #d4af37;
}

#colophon h6{
    padding: 20px;
    margin: 0;
    text-align: center;
    color: #ffffff;
    font-size: .9rem;
}