/* ----------------Box Sizing--------------- */

html{
    box-sizing: border-box;
}
    *,
    *:before,
    *::after {
     box-sizing: inherit;
}

/* ----------------Utility Classes--------------- */
.container{
    width: 70vw;
    margin: 40px auto;
    max-width: 960px;
}

/* ----------------Responsive Images--------------- */

#articles .post img {
    border-radius: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* ---------------- Global Styles --------------- */

body {
    font-family: 'EB Garamond', serif;
    margin:0;
}

header.primary{
    background-color: #d3d3d3;
    text-align: left;
    color:black;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}

.replace-scott a {
    width: 300px;
    height: 172px;
    color: #000;
    background: url(C:\Users\desti\Documents\Computer Applications in Art\segway_color_logo.gif);
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

header.primary h1{
    font-size: 2.5rem;
    margin: 20px 0 10px;
}

header.primary h1 a{
    color: black;
    text-decoration: none;
}

header.primary nav{
    max-width: 960px;
}

header.primary ul{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header.primary li{
    background-color: cadetblue;
    list-style-type: none;
    text-decoration: none;
}

#intro{
    border: 2px solid #d3d3d3;
    padding: 3.0rem;
}

#contentinfo{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: 2px solid #d3d3d3;
    padding: 3.0rem;
}

#content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #d3d3d3;
    padding: 3.0rem;
}

#content article.post {
    width: 30%;
    box-shadow: 0 4px 8px rgba(f, f, f, .8);
    padding: 10px;
    border-radius: 10px;
    font-size: .8rem;
}

figure img{
    border: 1px;
    padding: 2px;
    border-radius: 10px;
    margin: 3px auto;
    background: #d3d3d3;
}

article.post a{
    text-decoration: none;
}

article.post a:hover{
    text-decoration: none;
    transition: .5s;
}

#colophon{
    background-color: #d3d3d3;
}

#colophon h6{
    padding: 20px;
    margin: 0;
    text-align: center;
    font-size: .9rem;
}